@charset "utf-8";

/* reset element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: border-box;
}

/*S 6. 눌렀을 때 아웃라인 생기는 게 사라짐 */
*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  letter-spacing: -1px;
}

img {
  vertical-align: middle;
  border: none;
  /* max-width: 100%; 간혹 방해가 되는 경우가 있음*/
}

table {
  border-collapse: collapse;
  /* border-spacing: 0;
  border: 0 none; */
  table-layout: fixed;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

address,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 건너뛰기 링크(접근성) */
.skipnav a {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 999999;
}

.skipnav a:focus,
.skipnav a:active {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

/* 비장애인들한테는 보일 필요가 없는 컨텐츠이지만, 장애인들한테는 인식돼야 할 컨텐츠에 붙이는 클래스 */
.blind {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* 테이블의 제목과 폼의 그룹화 요소는 안보이게 처리함 */
caption,
legend {
  display: none
}

fieldset {
  border: none
}

/* 자식들이 float 속성을 가질때 부모의 높이가 무너지므로 .cf로 해결함 */
.cf:after,
.cf:before {
  content: "";
  display: block;
  clear: both;
}

body {
    font-family: 'Malgun Gothic', '맑은 고딕', 'snas serif';
    font-size: 16px;
    color:#444;
}

.row {
    max-width: 1130px;
    margin: 0 auto;
  }

#wrap {
  position: relative;
}

#header {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0) );
  color: #fff;
  position: fixed;
  height: 110px;
  width: 100%;
  top:0;
  left: 0;
  z-index: 9999;
  transition: all 0.1s;
}

#header.red {
  background: #fff;
  color: #000;
  position: fixed;
  height: 110px;
  width: 100%;
  top:0;
  left: 0;
  z-index: 9999;
}

.header_nav {
  max-width: 1210px;
  margin: 0 auto;
}

.logo {
  position: relative;
  width: 212px;
  float: left;
}

.logo a{
  display: block;
  padding:15px 0
}

.logo img {
  width: 212px;
}

.utils {
  float: right;
  text-align: right;
}

.utils li {
  display: inline-block;
  margin: 20px 20px
}

.utils li a {
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  display: block;
  padding: 5px 2px
}

.menu {
  position: relative;
  top: 60px;
  right: 0px;
  z-index:999999;
}

.menu >li {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin:0px 20px;
  padding-bottom: 5px;
}

.menu >li.on {
  border-bottom: 1px solid #fff;
}

.closeBtn {
  display: none;
}

.submenu {
  width: 220px;
  padding:22px 0;
  display: none;
  font-size: 16px;
  position: absolute;
  top: 27px;
  left: -10px;
  color: #ddd;
  z-index: 2;
}

.submenu li {
  padding: 10px 20px;
  background: #000;
} 

.submenu > li:first-child {
  padding-top: 30px;
}

.submenu > li:last-child {
  padding-bottom: 30px;
}

.submenu li:hover {
  color: #fff;
}

.menu >li:nth-child(2) .submenu >li:hover {
  color: #ddd;
}

.submenu h5 {
  font-size: 20px;
  padding-bottom: 10px;
}

.submenu h5:nth-of-type(2) {
  padding-top: 20px;
}


/*slide 시작*/
.slide_box {
  position: relative;
}

.slide a {
  display: block;
}

.slide a img {
  width: 100%;
}

/* .slide2, 
.slide3,
.slide4 {
  display: none;
} */

/*슬라이드 버튼 꾸미기*/
.marrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 70px;
  color:rgba(255,255,255, 0.8);;
}

.prevArrow {
  left: 50px;
  z-index: 1;
}

.nextArrow {
  right: 50px;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  width: calc(50% + 30px);
  text-align: right;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li button {
  background: rgba(255,255,255, 0.8);
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  text-indent: -9999px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.slick-dots li.slick-active button {
  width: 40px;
  border-radius: 40px;
}

.plpa {
  font-size: 21px;
  color: rgba(255,0,0, 0.5);
  background: transparent;
  border: none;
  position: absolute;
  bottom: 17px;
  right: 0;
  width: calc(50% - 30px);
  text-align: left;
  padding-left: 10px;
  z-index: 1;
}


/* 퀵로우바 */
.quick_rowbar {
  background: #000;
  color: #fff;
  font-weight:bold;
}

.quick_class {
  margin: 0 auto;
}

.qc_column {
  display: inline-block;
  margin-left: 120px;
}

.qc_column a {
  display: block;
  padding: 20px 0;
  margin-left: 20px;
  text-align: center;
}

/*이너 시작*/
.inner_column {
 margin: 130px auto;
 /* border: 1px solid #000; */
}

.col1 {
  margin-top: 50px;
}

.inner_column h3 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 35px;
}

.inner_column h3 span {
  display: block;
  background: #ccc;
  width: 100px;
  height: 3px;
  margin-top: 15px;
  margin-left: 5px;
}

.inner_column:nth-child(5) h3 span {
  width: 150px;
}

/*인기강좌 시작*/
.pop_list li{
  float: left;
  width: 30%;
  margin-left: 2%;
  margin-right: 1%;
  box-shadow: 0px 0px 16px  #ddd;
  height: 287px;
  margin-bottom: 40px;
}

.pop_list li:nth-child(4),
.pop_list li:nth-child(5),
.pop_list li:nth-child(6) {
  margin-bottom: 0;
}

.pop_list img {
  width: 100%;
  box-shadow: -3px -3px 16px  #ddd;
}

.pop_list h4 {
  padding: 20px 15px 15px;
  font-weight: bold;
  font-size: 16px;
}

.pop_list p {
  padding: 0 15px 17px;
  font-size: 14px;
  color: #e84242;
}

.pop_list li a .imgbox {
  position: relative;
}

.pop_list li a .imgbox:after {
  content: ""; 
  position: absolute;
  top:0; 
  left:0; 
  bottom:0; 
  right:0;
  background: rgba(0,0,0,0);
  transition: all 0.5s;
}

.pop_list li a  .imgbox:hover:after {
  background: rgba(0,0,0,0.3);
}

/*노베이스 테스트 시작*/

.col2 {
  position: relative;
}

.col2 .nobaseH {
  position: absolute;
  top: 18px;
  left: 27px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 0 10px;
  z-index: 1;
}

.col2 .nobaseH h3 {
  font-weight: normal;
  color: #fff;
  position: relative;
  top: 15px;
}

.test_imgBox {
  border-radius: 30px;
  width: 98%;
  overflow: hidden;
  box-shadow: 0px 0px 16px  #ddd;
  margin: 0 auto;
}

.test_imgBox a {
  display: block;
}

.test_imgBox img {
  width: 100%;
}

.col2 .slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

.col2 .slick-dots li {
  display: inline-block;
}

.col2 .slick-dots li button {
  background: rgba(0,0,0, 0.3);
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  text-indent: -9999px;
  overflow: hidden;
}

/*강의 미리보기 슬릭 시작*/

.priv {
  padding: 20px 50px;
  position: relative;
}

.priv img {
  width: 100%;
  padding:0 5px;
}

.priv .marrow {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 70px;
  color:#999;
}

.priv .prevArrow {
  left: -40px;
  z-index: 1;
}

.priv .nextArrow {
  right: -40px;
}

.priv .slick-slide {
  opacity: 0.6;
  transform: scale(0.89);
  transition: all 0.5s;
}

.priv .slick-slide.slick-active {
  opacity: 1;
}

.priv .slick-slide.slick-active.slick-current {
  transform: scale(1);
}

/*footer 시작*/
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 100px;
}

.footer_area >div {
  float: left;
  width: 30%;
  margin-left: 3%;
  padding: 30px 0;
}

.footer_area h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

.footer_area h3:last-child {
  padding-top: 40px;
}

.footer_area p {
  font-size: 14px;
  line-height: 1.8;
}

.footer_right li {
  display: inline-block;
  padding: 20px 30px;
}

.footer_right img {
  width: 45px;
}

.footer_right p {
  padding: 15px;
}

.footer_cpy {
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}




























